<nav style="position: sticky; top: 0; z-index: 10;" class="navbar navbar-expand-lg navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Home Page</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#cards">Cards</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#table">Table</a>
        </li>
         <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#lists">Lists</a>
        </li>

      </ul>
      <a href="/logout"><button type="submit" style="float: right" class="btn btn-primary m-3">Logout</button></a>
    </div>
  </div>
</nav>

<section id="cards">
  <div class="container">
    <div class="row ">
      {{#each product}}
      <div class="col-md-4 col-6 col-sm-6 col-lg-4 col-xl-3 mt-5">

        <div class="card" style="height: 380px;">
          <img src="{{this.img}}" style="height: 200px; class="card-img-top p-3" alt="..." />
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>

            <p class="card-text">{{this.description}}</p>
            <h6 class="card-title">{{this.price}}</h6>
            <a href="#" class="btn btn-primary">Buy Now</a>
          </div>
        </div>

      </div>
      {{/each}}


        <section id="table">
          <div class="container">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">No</th>
                  <th scope="col">Name</th>
                  <th scope="col">Price</th>
                  <th scope="col">description</th>
                  <th scope="col">Image</th>
                </tr>
              </thead>
              <tbody>
                {{#each product}}
                <tr>
                  <th scope="row">{{this.no}}</th>
                  <td>{{this.name}}</td>
                  <td>{{this.price}}</td>
                  <td>{{this.description}}</td>
                  <td><img style="width: 50ps; height: 50px;" src="{{this.img}}" alt=""></td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
        </section>


        <section id="lists">
          <div class="container">
            {{#each product}}

            <div class="list-group mt-5">

              <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1"><span>{{this.no}} . </span>{{this.name}}</h5>
                  <h4 class="text-muted">{{this.price}}</h4>
                </div>
                <img style="width: 230px; height: 200px;" src="{{this.img}}" alt="">
                <h6 class="mb-1">{{this.description}}</h6>
                
              </a>
            </div>
            {{/each}}
        </section>




      </div>
    </div>
  </div>
</section>